# Packager output
.release/

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vs/
.vscode/
*.code-workspace

# Internal docs
local_dev_assets/

# Testing & Logs
.logs/

# Agents
GEMINI.md
.agent/
AGENTS.md