# Packager output
.release/

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vs/
.vscode/
*.code-workspace

# Internal docs
.local_dev_assets/
luacheck_output.txt

# Testing & Logs
*.log
log*.txt
luac.out
.luac

# Agents
GEMINI.md
.agent/